html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /* width: 500px; */
    margin: 0 auto;
    padding: 0;
}

.grid * {
    background-color: rgb(102, 102, 245);
    border: 1px solid black;
    /* width: 100px; */
    /* height: 100px; */
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 10px 15px;
    
}

.grid {
    display: grid;
    /* Колонки */
    /* grid-template-columns: 100px 100px 100px; */

    /* grid-template-columns: repeat(3, 1fr); */

    /* Часть чего-либо целого */
    /* grid-template-columns: 4fr 2fr 1fr; */

    /*  Можно объединять фракции и пиксели*/
    /* grid-template-columns: 200px 1fr 1fr; */

    /* Можно использовать с пикселями */

    /* grid-template-columns: 50px 200px 50px 200px; */
    /* grid-template-columns: repeat(2, 50px 200px); */
    /* grid-template-columns: repeat(3, 1fr); */

    /* Ряды */
    /* grid-template-rows: repeat(3, 100px); */

    /* grid-column-gap: 10px; */

    /* grid-row-gap: 10px; */

    /* Может принимать два значения */
    grid-gap: 20px;

    /* Ряд, колонка */
    /* grid-gap: 20px 200px; */


    justify-content: center;


    /* grid-template-columns: minmax(10px, 500px) 100px 100px 100px; */
    /* grid-template-columns: repeat(3, 100px); */
    /* Запятая! */
    /* grid-template-rows: 100px minmax(100px, auto) 100px; */

    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: 100px 100px 100px; */


    /* Позиционирование (Выстраивание), как колонки */
    /* grid-auto-flow: column; */

    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px
    ;
}

