html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.box {
    display: inline-block;
    background-color: yellow;
    width: 200px;
    height: 200px;
}